
h1,h2,h3,h4,h5,h6{
  display: inline-block;
margin: 0px;
}
h1,h5,span h3, span h2{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}
#about_footer,.span{
  display: flex;
  justify-content: space-around;
}
body div[class=block]{
  width: 100%;
  height: 400px;
  color: white;
  background-color: green;
}
a{
  color: gray;
  text-decoration: none;
}
